
/* Colour Scheme One */

	/* Pink: #ffccbf */
	/* Orange: #de8466 */
	/* Dark Purple: #5f4d69 */
	/* Violet: #a182b3 */
	/* Light Blue: #83ccde */
	/* Light Green: #bceb8a */

/* Colour Scheme Two */

	/* Orange: #ff7559 */
	/* Pink: #c74a65 */
	/* Dark Purple: #773b7d */
	/* Light Green: #5eeb6e */
	/* Medium Green: #07b38b */


/* Adding Flexbox to Body */

body {
  display: -webkit-box; /* OLD: Safary, iOS, Android browser, older Webkit browsers */
  display: -moz-box;    /* OLD: Firefox */
  display: -ms-flexbox; /* MID: IE 10 */
  display: -webkit-flew; /* NEW, Chrome 21+ */
  display: flex;        /* NEW: Opera 12.1, Firefox 22+ */

  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;

  margin: 0;
  height: 100%;
  width: 100%; /* needed for Firefox */
}


/* Font Styles */

h1, h2, h3, h4, h5, h6 {
	font-family: 'Quicksand', sans-serif;
	font-weight: 300;
}

p {
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
}



/* Header Profile Image */

.profileimage {
  margin-top: -10px;
  position: relative;
  top: 0;
  width: 100%;
  padding-bottom: 50px;
}


.profileimage h1 {
  font-size: 90px;
	/*font-size: 110px;*/
	line-height: 1.2em;
  /*color: #fff;*/
	color: #70d8e6;
	font-weight: 300;
  padding-top: 70px;
	/*padding-top: 90px;*/
	padding-left: 35px;
}

.profileimage h2 {
	color: #fff;
	padding-left: 45px;
}

.lastname h1 {
  margin-top: -100px;
  /*margin-top: -140px;*/
}



/* Three Words Section */

.three-words {
	text-align: center;
	margin: 200px 50px;
}

.three-words h1 {
	color: #07b38b;
}

.three-words .span4 {
	padding: 5px 10px;
}

/* My Story */

.my-story {
	text-align: center;
	color: #fff;
	width: 100%;
	background-color: #ff7559;
}

.my-story h1 {
	padding-top: 80px;
}

.my-story p {
	line-height: 1.75em;
	font-size: 1.2em;
}

.my-story .span12 {
  padding-bottom: 100px;
  padding-right: 50px;
  padding-left: 50px;
}


/* Social Media Profiles */

.social-media {
	text-align: center;
	margin: 200px 50px;
}

.social-media .span4 {
	padding: 5px 10px;
}

.social-media h2{
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  color: #07b38b;
}

.social-media i {
  color: #545454;
}

.social-media a:visited {
  /*color: #07b38b;*/
}

.social-media a:hover {
  text-decoration: none;
}

.social-media a:active {
  /*color: #07b38b;*/
}

.social-media .icon a:visited {
  color: #000;
}


/* Carousel */

.carousel-inner {
  background-color: #70d8e6;
  color: #fff;
}

.testimonials {
      width:70%;
      height:350px;
      padding-top: 150px;
      overflow:hidden;
      display:block;
      margin: 0 auto;
      text-align: center;
    }

.testimonials h2 {
  font-family: 'Raleway', sans-serif;
  line-height: 1.5em;
}



/* Contact Section */

.contact {
  text-align: center;
  margin: 100px 50px;
}

.contact img {
  min-height: 300px;
  width: 370px;
}

.contact .span8 {
  margin-top: 90px;
}


/* Footer Section */

.footer {
  clear: both;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #000;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer a:link {
  color: #fff;
}

.footer a:visited {
  color: #fff;
}

.footer a:hover {
  color: #70d8e6;
  text-decoration: none;
}

.footer a:active {
  color: #fff;
}




/******** Portfolio Page *********/

#portfolio-wrapper {
  text-align: center;
  padding: 40px 0;
}

#portfolio-wrapper.span4 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

   -webkit-box-align: center; -moz-box-align: center;
   -ms-flex-align: center;
   -webkit-align-items: center;
   align-items: center;

   /*height: 10rem;*/
}

.thumbnail {
  width: 370px;
  height: 275px;
}

.unsquared-project {
  /*background-color: #70d8e6;*/
  color: #000;
  height: 200px;
}

.unsquared-project h2 {
  /*color: #70d8e6;
  font-weight: 400;*/
  line-height: 1.8em;
  margin-top: 20px;
}


.section-divider{
  border-bottom: 1px solid #70d8e6;
}




@media screen and (min-width: 720px) {
  .grid-sizer {
    width: 10%;
  }
}



